---
const { namaLomba, photo, linkLomba, id } = Astro.props;
import Image from "astro/components/Image.astro";
---

<div class="carousel-item" id={id}>
    <p class="lomba-title mobile">{namaLomba}</p>
    <div class="carousel-item-divider left">
      <Image
        alt="scefMascots"
        class="carousel-mascots disnone"
        src={photo}
      />
      <Image
      alt="scefMascots"
      class="carousel-mascots mobile"
      src={photo}
      />
    </div>
    <div class="carousel-item-divider right">
      <div class="right-item pc">
        <p class="lomba-title">{namaLomba}</p>
      </div>
      <div class="scefSignup right-item">
          <a href={linkLomba}>
            <button>SIGN UP!</button>
          </a>
          <a href="/Juknis_Scefco.pdf">
            <button class="juknis-button">JUKNIS</button>
          </a>
      </div>
    </div>
</div>

  <style>
    /* * {
      border: 1px solid red;
    } */
    @keyframes rotate360 {
      from {
        transform: rotateY(0deg);
      }

      to {
        transform: rotateY(360deg);
      }
    }

    .active {
      cursor: grabbing;
      cursor: -webkit-grabbing;
    }

    #carousel-container {
      background-color: transparent;
      width: max-content;
      height: 37.5vw;
      padding: 5px;
      display: flex;
      align-items: center;
      gap: 5px;
    }

    #horizontal-scroll {
      width: 100%;
      overflow-x: scroll;
      background-color: transparent;
    }

    #compeitition-title {
      color: black;
      background-color: transparent;
    }


    .carousel-item-divider {
      background-color: transparent;
      width: 50%;
      height: 100%;
      /* border: 3px solid purple; */
      display: flex;
    }

    .left {
      width: 22vw;
      display: flex;
      justify-content: center;
    }

    .right {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .right-item {
      height: 50%;
    }

    .carousel-mascots {
      width: 40vw;
      height: 40vw;
      max-width: 35vh;
      max-height: 35vh;
    }

    .scefSignup {
      display: flex;
      flex-direction: column;
      background-color: transparent;
      justify-content: right;
      height: fit-content;
      width:  70%;
      gap: 10px;
    }

    /* .signup-items {
        display: flex;
        flex-direction: column;
        
      } */

    p {
      margin-bottom: 5px;
      font-size: calc(var(--p-fz) + 2.75vw);
      font-weight: 700;
      text-align: center;
      line-height: calc(1.05* calc(var(--p-fz) + 2.75vw));
      text-shadow: 5px 5px 5px black;
      color: white;
    }

    a {
      width: 100%;
      color: black;
      background: transparent;
      text-align:end;
    }

    button {
      width: 100%;
      color: white;
      background: #FACD83;
      border: 0.75px solid transparent;
      border-radius: 14px;
      font-size: calc(var(--p-fz) + 0.5vw);
      transition: all 0.3s ease;
      padding: 5px;
      padding-left: 10px;
      padding-right: 10px;
      font-weight: 700;
      user-drag: none;
      -webkit-user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }

    button:hover {
      background: #FFD629;
      color: white;
    }

    img{
      user-drag: none;
      -webkit-user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      pointer-events: none;
    }

    #carousel-container {
      height: 50vh;
    }

    .carousel-item {
      width: 40vw;
      height: 25.11vw;
      border: 0.5px solid black;
      border-radius: 10px;
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.3s ease; /* Add smooth transition for scale */
    }

    .carousel-space {
      width: 28vw;
      height: 40vh;
      background-color: transparent;
    }

    .carousel-item:hover {
      transform: scale(1.2);
    }

    .carousel-item.in-view {
      transform: scale(1.2);
    }

    .pc {
      display: inline;
    }

    .mobile {
      display: none;
      opacity: 1;
    }

    .disnone {
      display: none;
    }

    

    @media only screen and (max-width: 720px) {
      * {
        /* border: 1px solid red; */
      }

      #horizontal-scroll {
        height: 65vh;
        display: flex;
        align-items: center;
      }

      .carousel-item-divider {
        width: 100%;
        height: 50%;
      }

      .right {
        height: 30%;
        justify-content: center;
      }

      .carousel-item {
        flex-direction: column;
        width: 50vw;
        height: 50vh;
        background: linear-gradient(#6871D4 0%,#748CDF 50%, #80CDC5 100%);
      }

      .scefSignup {
      margin-bottom: 0%;
    }

      .carousel-space {
        width: 22vw;
      }

      .pc {
        display: none;
      }

      .mobile {
        display: inline;
      }
    }
  </style>